<!DOCTYPE html>
<html lang="en" class="antialiased">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stori App</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <style>
        .max-h-64 {
            max-height: 16rem;
        }

        .form-input,
        .form-textarea,
        .form-select,
        .form-multiselect {
            background-color: #edf2f7;
            padding: 3px;
        }
    </style>

</head>

<body class="bg-gray-100 text-gray-900 tracking-wider leading-normal" style="font-family:'Lato',sans-serif;">
    <nav id="header" class="bg-white fixed w-full z-10 top-0 shadow">
        <div class="w-full container mx-auto flex flex-wrap items-center justify-between my-4">
            <div class="pl-4 md:pl-0">
                <a class="flex items-center text-green-600 text-base xl:text-xl no-underline hover:no-underline font-extrabold font-sans"
                    href="index.html">
                    <svg class="fill-current h-6 inline-block text-green-600 mr-4" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20">
                        <path
                            d="M16 2h4v15a3 3 0 0 1-3 3H3a3 3 0 0 1-3-3V0h16v2zm0 2v13a1 1 0 0 0 1 1 1 1 0 0 0 1-1V4h-2zM2 2v15a1 1 0 0 0 1 1h11.17a2.98 2.98 0 0 1-.17-1V2H2zm2 8h8v2H4v-2zm0 4h8v2H4v-2zM4 4h8v4H4V4z" />
                    </svg> Stori
                </a>
            </div>
        </div>
    </nav>
    <div class="container w-full flex flex-wrap mx-auto px-2 pt-8 lg:pt-16 mt-16" id="container">
        <div class="w-full lg:w-1/5 px-6 text-xl text-gray-800 leading-normal">
            <p class="text-base font-bold py-2 lg:pb-6 text-gray-700">Menu</p>
            <div class="block lg:hidden sticky inset-0">
                <button id="menu-toggle"
                    class="flex w-full justify-end px-3 py-3 bg-white lg:bg-transparent border rounded border-gray-600 hover:border-green-600 appearance-none focus:outline-none">
                    <svg class="fill-current h-3 float-right" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                    </svg>
                </button>
            </div>
            <div class="w-full sticky inset-0 hidden max-h-64 lg:h-auto overflow-x-hidden overflow-y-auto lg:overflow-y-hidden lg:block mt-0 my-2 lg:my-0 border border-gray-400 lg:border-transparent bg-white shadow lg:shadow-none lg:bg-transparent z-20"
                style="top:6em;" id="menu-content">
                <ul class="list-reset py-2 md:py-0">
                    <li class="py-1 md:my-2 hover:bg-green-100 lg:hover:bg-transparent border-l-4 border-transparent font-bold"
                        v-if="block != ''">
                        <a href='index.html'
                            class="block pl-4 align-middle text-gray-700 no-underline hover:text-green-600">
                            <span class="pb-1 md:pb-0 text-sm">Reset</span>
                        </a>
                    </li>

                    <li class="py-1 md:my-2 hover:bg-green-100 lg:hover:bg-transparent border-l-4 border-transparent border-green-600 font-bold"
                        v-if="block == 'registerblock'">
                        <a href='#section1'
                            class="block pl-4 align-middle text-gray-700 no-underline hover:text-green-600">
                            <span class="pb-1 md:pb-0 text-sm">Register</span>
                        </a>
                    </li>
                    <li class="py-1 md:my-2 hover:bg-green-100 lg:hover:bg-transparent border-l-4 border-transparent border-green-600"
                        v-if="block == 'accountblock'">
                        <a href='#section2'
                            class="block pl-4 align-middle text-gray-700 no-underline hover:text-green-600">
                            <span class="pb-1 md:pb-0 text-sm">Account</span>
                        </a>
                    </li>
                    <li class="py-1 md:my-2 hover:bg-green-100 lg:hover:bg-transparent border-l-4 border-transparent border-green-600"
                        v-if="block == 'uploadblock'">
                        <a href='#section3'
                            class="block pl-4 align-middle text-gray-700 no-underline hover:text-green-600">
                            <span class="pb-1 md:pb-0 text-sm">Upload file</span>
                        </a>
                    </li>
                    <li class="py-1 md:my-2 hover:bg-green-100 lg:hover:bg-transparent border-l-4 border-transparent border-green-600"
                        v-if="block == 'processblock'">
                        <a href='#section4'
                            class="block pl-4 align-middle text-gray-700 no-underline hover:text-green-600">
                            <span class="pb-1 md:pb-0 text-sm">Process</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <section class="w-full lg:w-4/5">
            <div v-if="block == 'registerblock'">
                <h2 class="font-sans font-bold break-normal text-gray-700 px-2 pb-8 text-xl">New user</h2>
                <div id='section1' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
                    <form @submit.prevent="register" autocomplete="off">
                        <div class="md:flex mb-6">
                            <div class="md:w-1/3">
                                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="name">
                                    Name
                                </label>
                            </div>
                            <div class="md:w-2/3">
                                <input class="form-input block w-full focus:bg-white" id="name" type="text"
                                    placeholder="brauliodev" v-model="user.name" required>
                            </div>
                        </div>
                        <div class="md:flex mb-6">
                            <div class="md:w-1/3">
                                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="email">
                                    Email
                                </label>
                            </div>
                            <div class="md:w-2/3">
                                <input class="form-input block w-full focus:bg-white" id="email" type="text"
                                    placeholder="dev@braulio.tech" v-model="user.email" required>
                            </div>
                        </div>
                        <div class="md:flex md:items-center">
                            <div class="md:w-1/3"></div>
                            <div class="md:w-2/3">
                                <button
                                    class="shadow bg-green-700 hover:bg-green-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                    type="submit">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div v-if="block == 'accountblock'">
                <h2 class="font-sans font-bold break-normal text-gray-700 px-2 pb-8 text-xl">New account bank</h2>
                <div id='section2' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
                    <form @submit.prevent="accountSave" autocomplete="off">
                        <div class="md:flex mb-6">
                            <div class="md:w-1/3">
                                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="owner">
                                    Owner
                                </label>
                            </div>
                            <div class="md:w-2/3">
                                <input class="form-input block w-full focus:bg-white" id="owner" type="text"
                                    v-model="account.owner" placeholder="Braulio Aguilar Simon" required>
                            </div>
                        </div>
                        <div class="md:flex mb-6">
                            <div class="md:w-1/3">
                                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="bank">
                                    Bank
                                </label>
                            </div>
                            <div class="md:w-2/3">
                                <input class="form-input block w-full focus:bg-white" id="bank" type="text"
                                    v-model="account.bank" placeholder="BBVA" required>
                            </div>
                        </div>

                        <div class="md:flex mb-6">
                            <div class="md:w-1/3">
                                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="type">
                                    Type
                                </label>
                            </div>
                            <div class="md:w-2/3">
                                <select name="" class="form-select block w-full focus:bg-white" id="type"
                                    v-model="account.type">
                                    <option value="debit">Debit</option>
                                    <option value="credit">Credit</option>
                                </select>
                            </div>
                        </div>

                        <div class="md:flex mb-6">
                            <div class="md:w-1/3">
                                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4"
                                    for="number">
                                    Number
                                </label>
                            </div>
                            <div class="md:w-2/3">
                                <input class="form-input block w-full focus:bg-white" id="number" type="text"
                                    v-model="account.number" placeholder="123456789" required>
                            </div>
                        </div>

                        <div class="md:flex md:items-center">
                            <div class="md:w-1/3"></div>
                            <div class="md:w-2/3">
                                <button
                                    class="shadow bg-green-700 hover:bg-green-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                    type="submit">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div v-if="block == 'uploadblock'">

                <h2 class="font-sans font-bold break-normal text-gray-700 px-2 pb-8 text-xl">Upload transaction file to
                    S3</h2>

                <div id='section3' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
                    <form @submit.prevent="submitFile" enctype="multipart/form-data">
                        <div class="md:flex mb-6">
                            <div class="md:w-1/3">
                                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4"
                                    for="my-multiselect">
                                    CSV file
                                </label>
                            </div>
                            <div class="md:w-2/3">
                                <input class="block w-full focus:bg-white" @change="uploadFile" ref="file" type="file"
                                    id="file" name="file" required>
                            </div>
                        </div>

                        <div class="md:flex md:items-center">
                            <div class="md:w-1/3"></div>
                            <div class="md:w-2/3">
                                <button
                                    class="shadow bg-green-700 hover:bg-green-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                    type="submit" :disabled="isDisabled">
                                    Upload
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div v-if="block == 'processblock'">

                <h2 class="font-sans font-bold break-normal text-gray-700 px-2 pb-8 text-xl">Process transactions</h2>

                <div id='section4' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
                    <form>
                        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                <thead
                                    class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="px-6 py-3">
                                            Owner
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            URL
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50
                                    even:dark:bg-gray-800 border-b dark:border-gray-700" v-for="element in txns">
                                        <th scope="row"
                                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            {{ element.account_name}}
                                        </th>
                                        <td class="px-6 py-4">
                                            {{ element.url }}
                                        </td>
                                        <td class="px-6 py-4">
                                            <a href="#" @click="executeFile(element.account_id)"
                                                class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Execute
                                                Transaction File</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>

        </section>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        // Cache selectors
        var lastId,
            topMenu = $("#menu-content"),
            topMenuHeight = topMenu.outerHeight() + 175,
            // All list items
            menuItems = topMenu.find("a"),
            // Anchors corresponding to menu items
            scrollItems = menuItems.map(function () {
                var item = $($(this).attr("href"));
                if (item.length) { return item; }
            });

        // Bind click handler to menu items
        // so we can get a fancy scroll animation
        menuItems.click(function (e) {
            var href = $(this).attr("href"),
                offsetTop = href === "#" ? 0 : $(href).offset().top - topMenuHeight + 1;
            $('html, body').stop().animate({
                scrollTop: offsetTop
            }, 300);
            e.preventDefault();
        });

        // Bind to scroll
        $(window).scroll(function () {
            // Get container scroll position
            var fromTop = $(this).scrollTop() + topMenuHeight;

            // Get id of current scroll item
            var cur = scrollItems.map(function () {
                if ($(this).offset().top < fromTop)
                    return this;
            });
            // Get the id of the current element
            cur = cur[cur.length - 1];
            var id = cur && cur.length ? cur[0].id : "";

            if (lastId !== id) {
                lastId = id;
                // Set/remove active class
                menuItems
                    .parent().removeClass("font-bold border-green-600")
                    .end().filter("[href='#" + id + "']").parent().addClass("font-bold border-green-600");
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>